name: test

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'environment'
        required: true
        default: 'QA'
      version:
        description: 'version'
        required: true

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: hello
        run: echo "hello world!!!!"